@model Cygnet.ProjMan.EFData.ViewModels.MainModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="~/CSS/bootstrap/bootstrap-datepicker.min (2).css" rel="stylesheet" />
<script src="~/JsScript/DP/bootstrap-datepicker.js"></script>
<link href="~/CSS/Tabbuttonss.css" rel="stylesheet" />

@using (Html.BeginForm("CreatePost", "Home", FormMethod.Post))
{
    
        <div class="container-wrap" style="padding-bottom:61px">

            <h1 align="center">Joining Forms</h1>
            <div class="clearfix">
                <div class="container-fluid">
                    <div class="middel-content">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
                                <div id="tabs" class="tab">
                                    <button id="form1" type="button" class="btn tablinks active" value="Employee Details">Employee Details</button>
                                    <button id="form2" type="button" class="btn tablinks" value="ESIC and EPFO">ESIC and EPFO</button>
                                    <button id="form3" type="button" class="btn tablinks" value="Other Details">Other Details</button>
                                    <button id="form4" type="button" class="btn tablinks" value="Feedback">Feedback</button>
                                </div> 
                                <div id="form1content" class="tab-content"data-currenttab="1">
                                    @{
                                        
                                        Html.RenderPartial("_Form1", Model);
                                    }
                                </div>
                                <div id="form2content" data-currenttab="1" style="display:none">
                                    <div class="row">
                                        <div class="col-md-6">
                                            @{
                                                
                                                Html.RenderPartial("_Form2", Model);

                                            }
                                        </div>
                                        <div class="col-md-6">
                                            @{


                                                Html.RenderPartial("_Form5", Model);
                                            }
                                        </div>

                                    </div>

                                </div>

                                <div id="form3content" data-currenttab="1" style="display:none">
                                    @{
                                        Html.RenderPartial("_Form3", Model);
                                    }
                                </div>

                                <div id="form4content" data-currenttab="1" style="display:none">
                                    @{
                                        Html.RenderPartial("_Form4", Model);
                                    }
                                </div>

                                @*<div id="form5content" data-currenttab="1" style="display:none">
                                    @{
                                        Html.RenderPartial("_Form5", Model);
                                    }
                                </div>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="clearfix "></div>
        <div class="clearfix "></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 form-footer">
                    <div class="text-center no-margin-left">
                        <br>

                        <div>
                            <input type="submit" id="submitbutton" class="btn btn-success tabButtons" value="Save">

                        </div>
                    </div>
                </div>
            </div>
        </div>
                                        }
      
        <button onclick="topFunction()" class="btn tabButtons" id="myBtn" title="Go to top">Go Up</button>
  <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script> 
                                           
<script src="~/JsScript/scrollfunction.js"></script>
<script src="~/JsScript/partialviewbuttons.js"></script>
<script src="~/JsScript/datepickercaller.js"></script>
<script>
    $(document).ready(function () {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }
    )
    //$('#submitbutton').click(function () {

    //    var $form = $('form');
    //    $form.validate();
    //    if (!$form.valid()){ return false; }})
</script>