@model Hrinnova_FormsProject.Models.Model1
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    #myBtn {
        display: none;
        position: fixed;
        bottom: 2%;
        right: 2%;
        z-index: 99;
        font-size: 14px;
        border: none;
        outline: none;
        background-color: royalblue;
        color: white;
        cursor: pointer;
        padding: 10px;
        border-radius: 4px;
        padding: 6px 12px;
    }
</style>
@using (Html.BeginForm("CreatePost", "Home", FormMethod.Post))
{
    <form class="main-form ng-pristine ng-valid">
        <div class="container-wrap" style="padding-bottom:61px">

            <h1 align="center">Joining Forms</h1>
            <div class="clearfix">
                <div class="container-fluid">
                    <div class="middel-content">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="text-center">
                                    <div id="tabs" class="button-group tab-content">
                                        <input type="button" id="form1" href="1" class="btn btn-primary btn-success tabButtons" value="Employee Details">
                                        <input type="button" id="form2" href="2" class="btn btn-primary tabButtons" value="ESIC and EPFO">
                                        <input type="button" id="form3" tabindex="3" class="btn btn-primary tabButtons" value="Other Details">
                                        <input type="button" id="form4" tabindex="4" class="btn btn-primary tabButtons" value="Feedback">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div id="form1content" data-currenttab="1">
                @{
                    Html.RenderPartial("_Form1", Model);
                }
            </div>
            <div id="form2content" data-currenttab="1" style="display:none">
                <div class="row">
                    <div class="col-md-6">
                        @{

                            Html.RenderPartial("_Form2", Model);
                           
                        }
                    </div>
                    <div class="col-md-6">
                       @{
                   
                          
                           Html.RenderPartial("_Form5", Model);
                       }
                   </div>

                </div>

            </div>
            
            <div id="form3content" data-currenttab="1" style="display:none">
                @{
                    Html.RenderPartial("_Form3", Model);
                }
            </div>

            <div id="form4content" data-currenttab="1" style="display:none">
                @{
                    Html.RenderPartial("_Form4", Model);
                }
            </div>
            <div id="form5content" data-currenttab="1" style="display:none">
                @{
                    Html.RenderPartial("_Form5", Model);
                }
            </div>
        </div>

        <div class="clearfix "></div>
        <div class="clearfix "></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 form-footer">
                    <div class="text-center no-margin-left">
                        <br>

                        <div>
                            <input type="submit" id="submitfinal" @*onclick="return confirm('Once you click on Save and Continue, you wont be allowed to go back. Do you wish to continue ?')"*@ class="btn btn-success tabButtons" value="Save and Continue">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <button onclick="topFunction()" class="btn tabButtons" id="myBtn" title="Go to top">Go Up</button>
    </form>
                }
<script src="~/JsScript/scrollfunction.js"></script>
<script src="~/JsScript/tabbuttons.js"></script>

