@model Hrinnova_FormsProject.Models.Model2
@Html.AntiForgeryToken()
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/pagetypes.css" rel="stylesheet" />
<link href="~/CSS/cssfortableformat.css" rel="stylesheet" />
<script src="~/JsScript/jquery-1.11.3.js"></script>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <style>
        .boldit {
            border:solid
        }
    </style>
</head>

<body>
<table width="900" align="center">
    <thead>
        <tr>
            <th width="15%" class="tdpadding boldit" rowspan="3">

                <img src="~/Images/esic-logo2.jpg" />
            </th>
            <th  >
                <h3 align="center">घोषणा पत्र  DECLARATION FORM</h3>
            </th>
        </tr>
        <tr>
            <th class="tdpadding boldit" colspan="2">
                घोषणा पत्र कर्मचारी द्वारा 
            </th>
        </tr>
        <tr>
            <th colspan="2" class="tdpadding boldit" >
                To be filled by employee after reading instructions overleaf. Two postcard sized photographs to be attached with the form. This form is free of cost.
            </th>
        </tr>
        <tr>
            <th class="tdformat boldit" colspan="2">
                <table>
                    <thead>
                        <tr>
                            <th width="450">(A) Insured Persons Particulars</th>
                            <th width="450">(A) Employer's Particulars</th>
                        </tr>
                    </thead>
                </table>
                
            </th>
        </tr>
    </thead>
    </table>
    <table width="900" align="center">
    <tbody>
        <tr>
            <td>
                <table class="boldit" style="display:inline-block">
                    <tr >
                        <td width="440" >
                            adas

                        </td>

                    </tr>

                </table>
                <table class="boldit" style="display:inline-block" class="tdformat">
                    <tr>
                        <td width="440">
                            dasdsad
                        </td>
                    </tr>
                </table>

            </td>

        </tr>

    </tbody>

</table>


</body>
</html>

