/* FOR TIME OF REQUEST PAGE 

/*#popup-content .form-panel {width:94%;}

/*#popup-content .Leave {clear:both;}

#popup-content .form-gap {display:none;}*/

/*#popup-content .thired-colum-label {width:140px;}

/*#popup-content .first-colum-label, #popup-content .thired-colum-label {width:150px;margin: 0px 10px 0 0;line-height:25px;}

.grid tr td {border:1px solid #b2b2b2;}

.blue-button {padding-left:3px;}

.ui-dialog {border:2px solid #808080 !important;box-shadow:8px 8px 8px #000000 !important;}

.rating-mark {width:59px !important;padding:8px 0 !important;}*/

/* #rbtLeave.rbl {margin-top:100px;} */