@charset "utf-8";
/* CSS Document */

/*  992px > tablet styles < 1280px ======================================= */
@media screen and (min-width:992px) and (max-width:1280px){
.progresive-bar { width:100%; margin:20px 0 0;}
.progress-box { min-width:170px;}
.top-heading{padding:15px 0;}
.top-heading-right{padding:15px 0 0;}
.top-heading-right .btn{font-size:12px;}
.task-progress .col-lg-6 { width:100%;}
}
